title: ZUPAH BV | Tom Claus
description: > 
  We combineren diepgaande energy expertise met sterke IT-kennis om 
  bedrijven te helpen technologie- en energie-uitdagingen om te zetten 
  in duurzame groei.

author:
   name: Tom Claus
   email: mail@tomclaus.be

url: 'http://blog.tomclaus.be/'   # your main domain
baseurl: ''                       # if you're using custom domain keep this blank example: baseurl: ''

remote_theme: "just-the-docs/just-the-docs"
plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-coffeescript
  - jekyll-commonmark-ghpages
  - jekyll-gist
  - jekyll-paginate
  - jekyll-relative-links
  - jekyll-seo-tag
  - jekyll-github-metadata


exclude:
  # from https://github.com/jekyll/jekyll/blob/master/lib/site_template/_config.yml:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  # specific to the theme website:
  - bin/
  - lib/
  - "*.gemspec"
  - "*.gem"
  - LICENSE.txt
  - package.json
  - package-lock.json
  - Rakefile
  - README.md
  - CODE_OF_CONDUCT.md
  - docker-compose.yml
  - Dockerfile
  # theme test code
  - fixtures/
  - spec/
  - tmp
  - .rspec

# https://github.com/jekyll/minima
minima:
  skin: classic

  nav_pages:
    - about-tom.md
    - zupah-bv.md

  date_format: "%A %C %B %Y"

  show_excerpts: true